var path = require('path')
var webpack = require('webpack')

module.exports = {
    //...
    entry: {
        //client: './vue-source/client/main.js',
        //admin: './vue-source/admin/main.js',
        build: './cloud_clinic_frontend/src/main.ts',
    },
    output: {
        path: path.resolve(__dirname, './cloud_clinic_frontend/public/dist'),
        publicPath: '/cloud_clinic_frontend/dist/',
        filename: '[name].ts'
    },
    module: {
        rules: [
            {
                test: /\.vue$/,
                loader: 'vue-loader',
                options: {
                    loaders: {}
                    // other vue-loader options go here
                }
            },
            {
                test: /\.js$/,
                loader: 'babel-loader',
                exclude: /node_modules/
            },
            {
                test: /\.(png|jpg|gif|svg)$/,
                loader: 'file-loader',
                options: {
                    name: '[name].[ext]?[hash]'
                }
            },
            {
                test: /\.css$/,
                use: [ 'style-loader', 'css-loader' ]   //  <=  Order is very important
            }
        ]
    },
    resolve: {
        alias: {
            'vue$': 'vue/dist/vue.esm.js',
            'numeric-keyboard$': 'numeric-keyboard/dist/numeric_keyboard.vue.js',
            'vue-loading-overlay': 'vue-loading-overlay/dist/vue-loading.min.js',
            'jquery': 'jquery/dist/jquery.js'
        }
    },
  };